.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-left: 0;
}
.social {
  display: flex;
  gap: 10px;
  flex: 1;
}
.blogTitle {
  font-family:monospace;
  font-size: 28px; 
  font-weight: bold; 
  color: #164667; 
 
  
}
.logo {
  flex: 1;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.links {
  display: flex;
  font-weight: 600;
  gap: 22px;
  flex: 1;
  font-size: 20px;
  
  align-items: center;
  margin-left: 500px;
}
.link:hover{
  color:rgb(255, 118, 38);
  font-size:23px ;

}
@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  
  .links {
    justify-content: flex-end;
    gap: 8px;
    font-size: 16px;
    margin-left: 25px;
  }
  
  .logo {
    flex: 1;
    font-size: 5px;
    font-weight: bold;
    text-align:right;
  }
  .blogTitle {
    font-size: 16px; 
    font-weight: bold; 
    color: #164667;
    margin-top: 10px; 
    
   
    
  }
  .link:hover{
    color:crimson;
    font-size:18px ;
  
  }
  .social {
    display: flex;
    gap: 5px;
    flex: 1;
  }
}