.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.social {
  display: flex;
  gap: 10px;
  flex: 1;
}
.blogTitle {
  font-family:monospace;
  font-size: 28px; 
  font-weight: bold; 
  color: #164667; 
 
  
}
.logo {
  flex: 1;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.links {
  display: flex;
  font-weight: 600;
  gap: 22px;
  flex: 1;
  font-size: 20px;
  
  align-items: center;
  margin-left: 500px;
}
.link:hover{
  color:rgb(255, 118, 38);
  font-size:23px ;

}
@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .link {
    display: none;
  }
  .links {
    justify-content: flex-end;
  }
}
