.container {
  flex: 5;
 

}
.title {
  margin: 50px 0px;
  margin-left: 100px;
  
}

@media screen and (max-width: 640px) {
  
  .container{
    flex-direction: column;
  }
  .title{
   margin: 20px 0px;
   margin-left: 0px;
  }
 }