.title {
    margin-top: 50px;
    font-size: 30px;
}

.first,
.second,
.third {
    margin-top: 30px;
    display: flex;
    width: full;
    gap: 30px;
    height: 400px;
}

.pic {
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.imageWrapper {
    position: relative;
}

/* Add shadow and place name styles on hover */
.imageWrapper:hover .pic {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the place name */
.placeName {
    position: absolute;
    display: flex;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    font-weight: 800;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Hidden by default */
}

/* Show place name on hover */
.imageWrapper:hover .placeName {
    opacity: 1;
}
