.title {
    margin-top: 50px;
    font-size: 30px;
}

.first,
.second,
.third {
    margin-top: 10px;
    display: flex;
    width: full;
    gap: 10px;
    height: 400px;
}

.pic {
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.imageWrapper {
    position: relative;
   
}

/* Add shadow and place name styles on hover */
.imageWrapper:hover .pic {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the place name */
.placeName {
    position: absolute;
    display: flex;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    font-weight: 800;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Hidden by default */
}

/* Show place name on hover */
.imageWrapper:hover .placeName {
    opacity: 1;
}

/* Media query for screens with a width of 650px or less */
@media screen and (max-width: 640px) {
    .first,
    .second,
    .third {
        /* flex-direction: column; */
        width: 465px;
        height:220px;
        gap: 10px;
        margin-top: 0px;
        
        
        /* Change to a column layout */
    }

    .pic {
        margin-top: 0px !important;
        width: 180px;
        height: 200px; /* Ensure each image takes the full width in the column layout */
    }
    .placeName {
        position: absolute;
        display: flex;
        bottom: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 100%;
        padding: 10px;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 20px;
        font-weight: 700;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: opacity 0.3s ease-in-out;
        opacity: 0; /* Hidden by default */
    }
    
}
