.container {
  margin-top: 20px;
}
.title {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.name{
  color:rgb(11, 64, 91)
}
.post {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 1200px;
}
.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  
}
.image {
  object-fit: cover;
}
.postTitle {
  font-size: 30px;
}
.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}
.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  background-color: rgb(93, 140, 243);
  font-size: 20px;
  color:white;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 52px;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 44px;
  }
  .post {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .imgContainer {
    /* display: none; */
    height: 500px;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 38px;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 20px;
    gap: 5px;
  }
  .post {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 600px;
    width: 370px;
  }
  .imgContainer {
    flex: 1;
    height: 300px;
    position:relative;
    width: 100%;
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
  }
  .postTitle {
    font-size: 20px;
  }
  .container {
    margin-top: 0px; /* It seems .container is not used, but if it is, adjust accordingly */
  }
  .image {
    object-fit: cover; /* Make sure object-fit is applied to the image */
    width: 100%; /* Use 100% width to ensure responsiveness */
    height: 100%; /* Use 100% height to ensure responsiveness */
  }
  .button {
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
    width: max-content;
    background-color: rgb(93, 140, 243);
    font-size: 16px;
    color:white;
  }
  .button:hover{
    background-color: rgb(20, 95, 88);
  }
}
