.container {
  margin-top: 20px;
}
.title {
  font-size: 42px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.name{
  color:rgb(11, 64, 91)
}
.post {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image {
  object-fit: cover;
}
.postTitleS {
  font-size: 40px;
}
.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}
.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  background-color: rgb(93, 140, 243);
  font-size: 20px;
  color:white;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 52px;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 44px;
  }
  .imgContainer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 38px;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 26px;
  }
}
